<mat-card>
  <mat-card-header>
    <mat-card-title>
      Async & Services
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li (click)="usingjQueryAjaxCallback()">Using jQuery Ajax as Callback</li>
      <li (click)="usingjQueryAjaxPromise()">
        Using jQuery Ajax as ES6 Promise
      </li>
      <li (click)="chainingPromises()">Chaining Promise</li>
      <li (click)="usingFetch()">Using Fetch</li>
      <li (click)="usingFetchAwait()">Using Fetch Await</li>
      <li (click)="postFetch()">Post using Fetch</li>
      <li (click)="consumeService()">Consuming Servics</li>
      <li (click)="consumeGenericService()">Consuming Generic Service</li>
    </ul></mat-card-content
  >
</mat-card>
