.rightCell{
    text-align: right;
}

.centeredCell{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $lightBackground;
}

td{
    vertical-align: middle !important; 
    color: $darkBackground   
}

th{
    color: $darkBackground;
}

tr{
    cursor: pointer;
}