<mat-card>
  <mat-card-header>
    <mat-card-title>
      Types & Arrays
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li (click)="basicVariables()">Basic Variables</li>
      <li (click)="useLetConst()">Let & Const</li>
      <li (click)="stringFunctions()">String Functions</li>
      <li (click)="useVoidAny()">Void and Any</li>
      <li (click)="useTypings()">Use Typings</li>
      <li (click)="usePrototypes()">Prototypes</li>
      <li (click)="useEnums()">Enums</li>
      <li (click)="introArrays()">Arrays</li>
      <li (click)="arrayHelpers()">Arrays Helpers</li>
      <li (click)="chainingArrayHelpers()">Chaining Arrays Helpers</li>
      <li (click)="restParams()">Rest Operator</li>
      <li (click)="spreadOperator()">Spread Operator</li>
      <li (click)="maps()">Maps</li>
      <li (click)="sets()">Sets</li>
    </ul>
  </mat-card-content>
</mat-card>
