<mat-card>
  <mat-card-header>
    <mat-card-title>
      Make sure API is running: VouchersAPI -> src folder -> dotnet watch run
    </mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="1rem">
    <a
      mat-raised-button
      color="accent"
      mat-raised-button
      color="accent"
      (click)="getVouchers()"
      >Get Vouchers</a
    >
    <a mat-raised-button color="accent" (click)="getVoucher()">Get Voucher</a>
    <a mat-raised-button color="accent" (click)="insertVoucher()"
      >Insert Voucher</a
    >
    <a mat-raised-button color="accent" (click)="updateVoucher()"
      >Update Voucher</a
    >
    <a mat-raised-button color="accent" (click)="deleteVoucher()"
      >Delete Voucher</a
    >
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Function executed: {{ fname }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ result | json }}</pre></mat-card-content
  >
</mat-card>
