a {
    display: block;
    text-decoration: none;    
    cursor: pointer;
    padding-bottom: 3px;
}

.workbench {    
    min-height: 300px;
    background-color: white
}

.imgCell{
    padding-top: 5px;
    vertical-align: middle;
}

.demoContainer{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.demoMenu{
    min-width: 190px;
    flex: 1;
    flex-grow: 1;
}

.demoWorkbench{
    min-width: 400px;
    flex: 4;
    flex-grow: 4;
}