<mat-card>
  <mat-card-header>
    <mat-card-title>
      Objects
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li (click)="objectsBasics()">Objects Basics</li>
      <li (click)="enhancedObjectLiterals()">Enhanced Object Literals</li>
      <li (click)="objAssign()">Using Object.assign()</li>
      <li (click)="copyspread()">Immutability using Spread Operator</li>
      <li (click)="valref()">Modifying Val / Ref Types</li>
    </ul></mat-card-content
  >
</mat-card>
