<mat-card>
  <mat-card-header>
    <mat-card-title>
      Classes
    </mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><ul>
      <li (click)="basicClasses()">Basic Classes</li>
      <li (click)="classesConstructor()">Constructor</li>
      <li (click)="deepClone()">Deep Clone</li>
      <li (click)="getSet()">get() / set()</li>
      <li (click)="inheritance()">Inheritance</li>
      <li (click)="staticProperties()">Static Properties</li>
      <li (click)="casting()">Assertion / Casting</li>
      <li (click)="abstractClasses()">Abstract Classes</li>
      <li (click)="composition()">Composition</li>
    </ul></mat-card-content
  >
</mat-card>
