<mat-card>
  <mat-card-header>
    <mat-card-title>
      Functions
    </mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><ul>
      <li (click)="typedFunctions()">Typed Functions</li>
      <li (click)="functionParameters()">Parameters</li>
      <li (click)="returnValue()">Two Return Values</li>
      <li (click)="arrowFunctions()">Arrow Functions</li>
      <li (click)="functionOverloads()">Function Overloads</li>
      <li (click)="generatorFunction()">Generator Funtions</li>
    </ul></mat-card-content
  >
</mat-card>
