.upcomingItem {
  background-color: rgb(235, 204, 70);
  min-width: 220px;
}

.playingItem {
  background-color: rgb(225, 200, 248);
  min-width: 220px;
}

.header {
  margin: 10px;
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

.startTime {
  padding: 10px;
}

.box {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
